<!-- extend base.html -->
{% extends 'base.html'%}

<!-- import macro -->
{% import 'macros.html' as macro%}

<!-- styles block -->
{% block styles %}
<!-- variable block to prevent code override -->
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<!-- end styles block -->
{% endblock %}

<!-- edit block content -->
{% block content %}

<div class="container">

    <!-- Business News -->
    <h2> Business News</h2>
    <hr>
    <div class="row">
        <ul>
            {{ macro.displaySources(business)}}
        </ul>
    </div>

    <!-- Sports News  -->
    <h2> Sports News </h2>
    <hr>
    <div class="row">
        <ul>
            {{ macro.displaySources(sports)}}
        </ul>
    </div>

    <!-- Technology News -->
    <h2>Technology News</h2>
    <hr>
    <div class="row">
        <ul>
            {{ macro.displaySources(technology)}}
        </ul>
    </div>

    <!-- Entertainment News -->
    <h2>Entertainment News</h2>
    <hr>
    <div class="row">
        <ul>
            {{ macro.displaySources(entertainment)}}
        </ul>
    </div>

</div>

{% endblock %}