<!-- extend base.html -->
{% extends 'base.html'%}

<!-- import macro -->
{% import 'macros.html' as macro%}

<!-- styles block -->
{% block styles %}
<!-- variable block to prevent code override -->
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<!-- end styles block -->
{% endblock %}

<!-- edit block content -->
{% block content %}

<div class="container">
    <!-- Popular movie -->
    <h3> Business News</h3>
    <br>
    <ul>
        {{ macro.displaySources(business)}}
    </ul>
    <!-- Upcoming movie  -->
    <h3> Sports News </h3>
    <br>
    <ul>
        {{ macro.displaySources(sports)}}
    </ul>
    <!-- Now showing movie -->
    <h3>Technology News</h3>
    <br>
    <ul>
        {{ macro.displaySources(technology)}}
    </ul>
    <h3>Entertainment News</h3>
    <br>
    <ul>
        {{ macro.displaySources(entertainment)}}
    </ul>
    {% endblock %}
</div>